<!DOCTYPE html>
<html lang="en">

<%- include('header'); -%>

<body>
  <canvas class="background"></canvas>
  <!--audio#bonnie(src='./static/sound/BONNIE.mp3' autoplay='')-->
  <div id="m0ncentrage">
    <section id='where'>
      <h2>WHERE AM I</h2>
      <div id="INDEX">

        <div id="mapid"></div>

      </div>
    </section>
    <section id='who'>
      <h2>WHO AM I</h2>
      <p><%= JSON.stringify(req.session) %></p>
      <li><%= req.session.ip %></li>
    </section>
  </div>
  <!--canvas.background-->
</body>

<%- include('footer') -%>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="./static/js/particles.min.js"></script>
<script src="/static/js/trad.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<!--script(src='/static/js/socket.io.js')-->

<script>
  window.onload = function () {
    Particles.init({
      selector: ".background",
      color: "#EFF4F5",
      connectParticles: true,
      maxParticles: 50,
    });
    //console.log(document.querySelector(".content").offsetHeight)
    $(".background").css(
      "height",
      document.querySelector("body").clientHeight + "px"
    );
  };
</script>

<script>
  $("#intro").removeClass("css3buttonRed");
  $("#intro").addClass("css3button");
  $("#resume").removeClass("css3button");
  $("#resume").addClass("css3button");
  $("#admin").removeClass("css3buttonRed");
  $("#admin").addClass("css3button");
  $("#adhd").removeClass("css3button");
  $("#adhd").addClass("css3buttonRed");
  $("#m0ncentrage").show();
  //var bonnie = window.document.getElementById('bonnie')
  //bonnie.play()
  var map = L.map('INDEX').setView([48.8543, 2.3527], 1);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  //L.marker([48.8543, 2.3527]).addTo(map)
  var latitude = "<%= latitude %>"
  var longitude = "<%= longitude %>"
  console.log('longitude: ' + longitude + ' latitude: ' + latitude)
  L.marker([longitude, latitude]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();
</script>

</html>